body {
  font-family: Arial, Helvetica, sans-serif;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  gap: 10px;
  margin: 10px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.card {
  animation: fadeIn 250ms ease-in-out;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  width: 160px;
}

.selected {
  background-color: lightgray;
}

.shape {
  height: 70px;
  width: 35px;
  display: inline-block;
  margin: 2px;
}
