body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#contents {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  max-height: 100vh;
  overflow: auto;
  width: 100%;
  padding: 10px;
}

#gameMode, #newGame {
  font-size: 16px;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 10px;
  margin: 10px;
}

#cardsLeft {
  width: 25%;
}

#elapsedTime {
  width: 25%;
  text-align: right;
}

.bar {
  display: flex;
}

.label {
  color: #999999;
  font-style: italic;
}

.spacer {
  flex-grow: 1;
  text-align: center;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.card {
  animation: fadeIn 250ms ease-in-out;
  transition-duration: 100ms;
  border: 2px outset;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 2 / 1;
}

.card:hover {
  transform: scale(1.03);
}

.selected {
  background-color: lightgray;
}

.shape {
  height: 80%;
  display: inline-block;
  margin: 2px;
  aspect-ratio: 1 / 2;
}
